a.navbar-brand,
a.navbar-brand:hover {
  color: aliceblue;
}
div.collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#users-wrapper {
  margin-top: 20px;
}
#users-wrapper .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#userdetails-wrapper .col .back-btn {
  margin-top: 20px;
}
#userdetails-wrapper .col > ul {
  margin-top: 80px;
}

div.card {
  margin-bottom: 1rem;
  margin-top: 20px;
}

.hide {
  display: none;
}

nav .toggle-out {
  position: relative;
  display: block;
  width: 6rem;
  height: 2rem;
  border: 3.4px solid rgb(232, 232, 239);
  background: rgb(67, 64, 224);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 10px;
}

nav .toggle-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.6rem;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
nav .toggle-out.active .toggle-in {
  left: 1.8rem;

  background-color: rgb(37, 36, 36);
}
